/* Estilos Generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: white;
}

header {
  background-color: #000;
  padding: 10px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

main {
  padding: 10px;
}

section {
  margin-bottom: 20px;
}

/* Carrusel */
#carrusel {
  width: 100%;
  max-width: 100%;
  overflow: hidden; /* Evitar que las imágenes se desborden */
  position: relative;
}

#carrusel .carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  width: 100vw; /* Cada imagen ocupa toda la pantalla */
  height: auto;
  object-fit: cover;
  flex-shrink: 0; /* No permitir que las imágenes se reduzcan */
}

/* Estilos para las secciones */
#estrella-populares .actors,
#mejor-calificacion .movies {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
}

.actor,
.movie {
  text-align: center;
}

.actor img,
.movie img {
  border-radius: 10px;
  object-fit: cover;
}

.actor img {
  width: 70px;
  height: 70px;
}

.movie img {
  width: 100px;
  height: 150px;
}

footer {
  background-color: #000;
  padding: 10px;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}
