* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 80%;
  max-width: 1200px;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.menu ul {
  display: flex;
  list-style-type: none;
}

.menu li {
  margin: 0 15px;
}

.category-btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}

.category-btn:hover {
  background-color: #444;
}

.gallery-container {
  text-align: center;
}

.gallery-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.gallery img {
  width: 300px; /* Aumentamos el ancho */
  height: 169px; /* Establecemos la altura para un formato 16:9 */
  object-fit: cover; /* Mantener la relaci칩n de aspecto de la imagen */
  border-radius: 10px;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .gallery img {
    width: 250px;
    height: 140px; /* Ajustamos el tama침o para pantallas m치s peque침as */
  }
}
