/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 10px 20px;
  margin-bottom: 0; /* Elimina el margen inferior */
}

.menu-icon {
  font-size: 24px;
  color: #fff;
}

/* Estilos del buscador moderno */
.search-bar {
  position: relative;
  width: 100%;
  max-width: 400px; /* Ajusta el ancho del buscador */
  margin-left: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px 40px 10px 20px; /* Padding ajustado para el icono */
  border-radius: 25px;
  border: 2px solid #ccc;
  font-size: 16px;
  color: #333;
  background-color: #f0f0f0;
  transition: all 0.3s ease; /* Transición suave al hacer foco */
}

.search-bar input:focus {
  border-color: #007bff; /* Cambio de borde al enfocar */
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.2); /* Sombra suave al hacer foco */
}

.search-bar i {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #bbb;
  font-size: 18px;
  pointer-events: none; /* Hace que el icono no interfiera con el campo de entrada */
}

.search-bar input::placeholder {
  color: #aaa;
  font-style: italic; /* Estilo de fuente en el placeholder */
}

.search-bar input:focus::placeholder {
  color: transparent; /* El placeholder desaparece al hacer foco */
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto; /* Elimina el margen superior */
  overflow: hidden; /* Ocultar las imágenes fuera de vista */
}

.carousel {
  display: flex;
  transition: transform 0.5s ease; /* Desplazamiento suave */
}

.carousel-item {
  min-width: 100%; /* Asegura que cada imagen ocupe todo el contenedor */
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}

/* Puntos de navegación dentro de la imagen */
.carousel-nav {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

/* MEDIA QUERY para pantallas más grandes (como tablets y desktops) */
@media (min-width: 768px) {
  .carousel-container {
    max-width: 1000px; /* Aumenta el tamaño máximo del carrusel */
  }

  .carousel-item img {
    width: 100%;
    height: auto;
  }

  .dot {
    height: 16px; /* Aumenta el tamaño de los puntos en pantallas grandes */
    width: 16px;
  }
}

/* MEDIA QUERY para pantallas más pequeñas (como móviles) */
@media (max-width: 767px) {
  .dot {
    height: 10px; /* Reduce el tamaño de los puntos en pantallas pequeñas */
    width: 10px;
  }

  .search-bar {
    max-width: 50%; /* Hace el buscador más pequeño en pantallas pequeñas */
  }
  
}
